
    <fieldset>
        <div>
            <span class="form-group"><input class="form-element" type="text" id="name" name="name" value="{{module.name}}" autofocus required></span> by 
            <select class="form-element" name="manufacturer-id" id="manufacturer" required>
                <option value="{{ module.manufacturer.id }}" selected>{{ module.manufacturer.name }}
        {% for manufacturer in all_manufacturers %}
        <!-- must include below line or manufacturer displayed twice -->
        {% if manufacturer.name != module.manufacturer.name and  manufacturer.disabled != True %}
        <option value="{{ manufacturer.id }}">{{ manufacturer.name }}
        </option>
        {% endif %}
        {% endfor %}
        </select>  - 
        <select class="form-element" name="function" id="function" required>
        <option value="{{ module.function }}" selected>{{ module.function }}</option>
                <!-- selects from Attenuators onwards -->
        {% include "/modules/module_type.html" %} 

        
        </div>
        </fieldset>