{% extends "base.html" %}
{% block content %}



<div class="module">
    <div class="content" style="box-shadow: 2px 2px 20px rgba(6, 46, 77, 0.4);">
            <form action="/modules/{{ module.id }}" method="POST">
                <span id="info">
                <h3>{% include 'modules/edit_form.html' %}</h3>
                <a href="/modules/{{ module.id }}"><nav class='close'><i class="far fa-times-circle fa-2x"></i></nav></a>
        </span>

        <span class='tabs'>
            <nav class="desc-tab">Description</nav>
            <nav class="spec-tab">Specification</nav>
            <nav class='shop-tab'>Shop</nav>
        </span>

        <section class='info-box'>
            <article class="desc">
                {% include 'modules/edit_textarea.html' %}
            </article>
            <section class='image'>
                <div class="new-image">
                    <textarea class="image-url" name="image-url" id="image-url" cols="30" rows="10">{{ module.image_url }}</textarea>
                </div>
                <fieldset class=stock-entry>
                <figure class='stock'>stock:<input class="form-element stock" name="stock" id="stock-num" type="number" min="0" value ="{{ module.stock }}" ></figure>
                </fieldset>

            </section>
            <aside id='edit-bar'>
                <div id="edit">
                    <a href="/modules"> 
                        <nav id="close-module">
                         
                        </nav>
                        </a>
                    
                </div>
                <br>
                <div>
                  
            </div>
                <div id="add">
                    <button type="submit" class="save-button">save</button>
                </div>
            </form>
                <div id="bin-area">
                    <form action="/modules/{{module.id}}/delete" method="POST">
                        <i class="fas fa-trash-alt fa-2x"><input class="delete_button" type="submit" value="" /></i>
                        
                      </form>
                        <nav id="bin">
                         
                        </nav>
                        </a>
                </div>
            </aside>

        </section>
    </div>
   
</div>

{% endblock %}