<fieldset class="fields" id="desc-spec-shop">
    <textarea class="textwrapper form-element" name="description" cols="10" rows="20" required>{{ module.description }}</textarea>
    <section class="spec-input">
        <div>
        <label for="minus-12v">-12v</label>
        <input class="form-element" name="minus-12v" id="minus-12v" type="number" min="0" value = "{{ module.minus_12v }}" required>mA
        </div>
        <div>
        <label for="plus-12v">+12v</label>
        <input class="form-element"  name="plus-12v" id="plus-12v" type="number" min="0" value = "{{ module.plus_12v }}" required>mA
        </div>
        <div>
        <label for="width">width</label>
        <input class="form-element"  name="width" id="width" type="number" min="1" value = "{{ module.width }}" required> HP
        </div>
        <div>
        <label for="depth">depth</label>
        <input class="form-element"  name="depth" id="depth" type="number" min="1" value = "{{ module.depth }}" required> mm
        </div>
    </section>
    <section class="shop-input">
        <label for="buying-cost">Buying cost £</label>
        <input class="form-element"  name="buying-cost" id="buying-cost" type="number" min="1" value = "{{ module.buying_cost }}" required>
        <br>
        <label for="buying-cost">Selling price £</label>
        <input class="form-element"  name="selling-price" id="selling-price" type="number" min="1" value = "{{ module.selling_price }}" required>
        <br>
        <div id="stock-id">
        stock id#: {{module.id}}
    </div>
    </section>
</fieldset>