{% extends "base.html" %}
{% block content %}


{% for module in all_modules %}
<div class="module">
  <div class="content">
    <span>
      <h3>{{module.name}} by {{module.manufacturer.name}} - {{module.function}}</h3>
    </span>
    <!-- <a href="/modules/{{module.id}}">{{module.name}}</a> -->
    <span class='tabs'>
      <nav>Description</nav>
      <nav>Specification</nav>
      <nav id='shop-tab'>Shop</nav>
    </span>
    <section id='info-box'>
      <pre>{{module.description}}</pre>
      <section id='image'>
        <img src="{{module.image_url}}" alt="module pic">
      </section>
    </section>
  </div>
</div>


{% endfor %}

{% endblock %}