<div class="module">


      <!-- called by specification.html -->
      {% block content %}  
      {% endblock %}

        <section class='image'>
          <!-- sometimes image url becomes None --> 
          {% if module.image_url == 'None' %}
          <img src="/static/images/no_image.svg" alt="no image">
          {% endif %}
          {% if module.image_url %}
          <img src="{{module.image_url}}" alt="module pic">

          {% else %}
          <img src="/static/images/no_image.svg" alt="no image">
          {% endif %}
          <figure id='stock-fig'>stock:<br> {{module.stock}} <br>
            {% if module.stock == 0 %}
            <p style="background-color: black; color: rgb(240, 76, 76);"> Out of Stock!</p>
            {% elif module.stock < 4 %}
            <p style="color: rgb(0, 136, 255);"> Low stock</p>
            {% endif %}
          </figure>

          
        </section>
        <aside id='edit-bar'>
          <div id="edit">
            <a href="/modules/{{ module.id }}/edit"><i class="far fa-edit fa-2x"></i></a>
          </div>
          <div id="add">
            
            <a href="/modules/new"><i class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div id="bin-area">
          </div>
        </aside>
  
      </section>
    </div>
  </div>

  <a href="#">  <i class="fas fa-arrow-circle-up fa-3x"></i></a>
