{% extends "base.html" %}
{% block content %}


{% for module in all_modules %}
<div class="module">
  <div class="content">
    <span id="header">
      <h3>{% include 'modules/new_form.html' %}</h3>
    </span>
    <!-- <a href="/modules/{{module.id}}">{{module.name}}</a> -->

    <span class='tabs'>
      <nav class="desc-tab">Description</nav>
      <nav class="spec-tab">Specification</nav>
      <nav class='shop-tab'>Shop</nav>
    </span>

    <section class='info-box'>
      <article class="desc">
        <pre>{{module.description}}</pre>
      </article>
      <section class='image'>
        <img src="{{module.image_url}}" alt="module pic">
        <figure id='stock'>stock: {{module.stock}}</figure>
        <nav id='sell'>sell</nav>
      </section>
      <aside id='edit-bar'>
        <div id="edit">
          edit
        </div>
        <div id="add">
          +
        </div>
        <div id="bin">
          <!-- only make visible on edit page -->
          bin
        </div>
      </aside>

    </section>
  </div>
</div>


{% endfor %}

{% endblock %}