{% extends "base.html" %}
{% block content %}

<div class="module">
    <div class="content">
        <span id="header">
            <form action="/modules" method="POST">
                <h3>{% include 'modules/new_form.html' %}</h3>
        </span>
        

        <span class='tabs'>
            <nav class="desc-tab">Description</nav>
            <nav class="spec-tab">Specification</nav>
            <nav class='shop-tab'>Shop</nav>
            <a href="/modules"><nav class='close'><i class="far fa-times-circle fa-2x"></i></nav></a>
        </span>

        <section class='info-box'>
            <article class="desc">
                {% include 'modules/new_textarea.html' %}
            </article>
            <section class='image'>
                <div class="new-image">
                    <textarea class="image-url" name="image-url" id="image-url" cols="30" rows="10" placeholder="enter image url:
                    http://"></textarea>
                </div>
                <fieldset class=stock-entry>
                <figure class='stock'>stock:<input class="form-element stock" name="stock" id="stock-num" type="number" min="0" required placeholder='0'></figure>
                </fieldset>

            </section>
            <aside id='edit-bar'>
                <div id="edit">
                    <a href="/modules"> 
                        <nav id="close-module">
                         
                        </nav>
                        </a>
                    
                </div>
                <br>
                <div>
                    <button type="submit" class="save-button">save</button>
            </div>
                <div id="add">
                    <input type="reset" value="reset" class="reset-button">
                </div>
                <div id="bin-area">
                    <!-- only make visible on edit page -->
                    
                </div>
            </aside>

        </section>
    </div>
    </form>
</div>



{% endblock %}