
    <fieldset>
<div>
    <span class="form-group"><input class="form-element" type="text" id="name" name="name" placeholder="Enter product name..." autofocus required></span> by 
    <select class="form-element" name="manufacturer-id" id="manufacturer" required>
        <option value="" selected disabled hidden>Select a manufacturer...
{% for manufacturer in all_manufacturers %}
{% if manufacturer.disabled != True %}
<option value="{{ manufacturer.id }}">{{ manufacturer.name }}
</option> 
{% endif %}

{% endfor %}
</select><button class="add-manufacturer"> <a href="../manufacturers/new_manufacturer">+</a> </button>  - 
<select class="form-element" name="function" id="function" required>
<option value="" selected disabled hidden>Select a function...</option>
        <!-- selects from Attenuators onwards -->
{% include "/modules/module_type.html" %}
</div>
</fieldset>