{% extends "modules/module_base.html" %}
{% block content %}
<div class="content" style="box-shadow: 2px 2px 20px rgba(6, 46, 77, 0.4);">
<span id="info">
  <h3>{{module.name}} by <a href="/manufacturers/{{module.manufacturer.id}}">{{module.manufacturer.name}}</a> - {{module.function}}</h3>
  <a href="/modules"><nav class='close'><i class="far fa-times-circle fa-2x"></i></nav></a>
  </span>

<span class='tabs'>
  <nav class="desc-tab" style="border: 3px solid rgb(244, 237, 242);"><a href="/modules/{{module.id}}/description">Description</nav>
  <nav class="spec-tab" style="border: 3px solid rgb(238, 228, 235);"> <a href="/modules/{{module.id}}/specification">Specification</a></nav>
  <nav class='shop-tab' style="color:rgba(0, 0, 0, 0.8);">Shop</nav>
</span>

<section class='info-box'>
  <article class="desc" style="background-color: rgb(249, 168, 163);">
    <p>£{{module.buying_cost}}</p>
    <p>£{{module.selling_price}}</p>
    <br>
    <p>markup of {{((module.selling_price - module.buying_cost) / module.buying_cost * 100)|int}}%</p>
    <br>
    <p>stock id#: {{module.id}}</p>
  </article>
{% endblock %}
