{% extends "modules/module_base.html" %}
{% block content %}

<span class='tabs'>
  <nav class="desc-tab" style="border: 3px solid rgb(254, 243, 237);"><a href="/modules/{{module.id}}">Description</nav>
  <nav class="spec-tab" style="border: 3px solid rgb(254, 243, 237);"> <a href="/modules/{{module.id}}/specification">Specification</a></nav>
  <nav class='shop-tab'> <a href="/modules/{{module.id}}/shop">Shop</a></nav>
  <nav class='close'><a href="/modules"><i class="far fa-times-circle fa-2x"></i></a></nav>
</span>

<section class='info-box'>
  <article class="desc" style="background-color: rgb(249, 168, 163);">
    <p>£{{module.buying_cost}}</p>
    <p>£{{module.selling_price}}</p>
    <br>
    <p>markup of {{((module.selling_price - module.buying_cost) / module.buying_cost * 100)|int}}%</p>

  </article>
{% endblock %}
