{% extends "modules/module_base.html" %}
{% block content %}

<span class='tabs'>
  <nav class="desc-tab"><a href="/modules/{{module.id}}">Description</nav>
  <nav class="spec-tab" style="border: 3px solid rgb(254, 243, 237);"> <a href="/modules/{{module.id}}/specification">Specification</a></nav>
  <nav class='shop-tab' style="border: 3px solid rgb(254, 243, 237);"> <a href="/modules/{{module.id}}/shop">Shop</a></nav>
</span>

<section class='info-box'>
  <article class="desc">
    <p>{{module.width}}HP</p>
    <p>{{module.depth}}mm</p>
    <p>-12v: {{module.minus_12v}}mA</p>
    <p>+12v: {{module.plus_12v}}mA</p>

  </article>
{% endblock %}
