{% extends "modules/module_base.html" %}
{% block content %}
<span id="info">
<h3>{{module.name}} by <a href="/manufacturers/{{module.manufacturer.id}}">{{module.manufacturer.name}}</a> - {{module.function}}</h3>
<a href="/modules"><nav class='close'><i class="far fa-times-circle fa-2x"></i></nav></a>
</span>

<span class='tabs'>
  <nav class="desc-tab" style="border: 3px solid rgb(254, 243, 237);"><a href="/modules/{{module.id}}">Description</nav>
  <nav class="spec-tab"> <a href="/modules/{{module.id}}/specification">Specification</a></nav>
  <nav class='shop-tab' style="border: 3px solid rgb(254, 243, 237);"> <a href="/modules/{{module.id}}/shop">Shop</a></nav>
  
</span>

<section class='info-box'>
  <article class="desc" style="background-color: rgb(179, 155, 228);">
    <p>{{module.width}}HP</p>
    <p>{{module.depth}}mm</p>
    <p>-12v: {{module.minus_12v}}mA</p>
    <p>+12v: {{module.plus_12v}}mA</p>

  </article>
{% endblock %}
