* {
    border: 1px solid red;
}

.tabs > nav {
    padding: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 25px;
    justify-content: left;
}

.shop-tab {
    margin-left: auto;
    margin-right: 30%;
}

.desc-tab {
    margin-right: 10px;
}

.spec-tab {
    margin-right: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}


pre {
    white-space: pre-wrap;
}



.info-box {
    display: flex;
    height: 100%;
    flex-direction: row;
    /* width: 100%;
    align-items: center; */
}

/* img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.desc {
    overflow: scroll;
    height: 200px;
    width: 70%;
}

.image {
    /* object-fit: cover; */
    /* width: 50%; */
    /* height: 100%; */
    flex-shrink: 0;
    flex-basis: 100px;
}

img {
    max-width: 100%;
}

#edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}