/* * {
    outline: 1px solid blue;
} */

body {
    min-width: 290px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

h3 {
    margin: 0;
}

#header {
    height: 100%;
}

.tabs > nav {
    padding: 5px;
}

.tabs {
    display: flex;
    justify-content: left;
    margin-top: 0.5em;
}

.shop-tab {
    margin-left: auto;
    margin-right: 30%;
}

.spec-tab {
    margin-left: 25%;
    margin-right: 30px;
}


.desc-tab {
    margin-right: 10px;
}

.shop-input {
    margin: auto;
}

/* .spec-tab {
    margin-right: 30px;
} */

.content {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
}


pre {
    white-space: pre-wrap;
}


.info-box {
    display: flex;
    height: 100%;
    flex-direction: row;
    /* width: 100%;
    align-items: center; */
}

/* img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

textarea
{
    width:50%;
    height:100%;
    margin-right: 2%;
}
.textwrapper
{
    border: 0;
    margin:0;
    resize: none;
}

.desc {
    overflow: scroll;
    height: 350px;
    width: 70%;
    flex-grow: 2;
    flex-shrink: 2;
}

.spec-input {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fields input[type=number]{
    width: 40px;
} 

#desc-spec-shop {
    display: flex;
}

.image {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    flex-grow: 1;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}



.image img {
    object-fit: cover;
    max-width: 100%;
    /* max-height: 45%; */
    margin-top: 1em;
}

.new-image {
    background: url("https://www.modulargrid.net/img/imagecache/377x800_83.jpg");
    width: auto;
    background-size: cover;
}

.image-url {
    margin:0;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.8);
    resize: none;
    border: 1px solid rgba(77, 77, 240, 0.3);
}

.stock {
    width: 60%;
    justify-content: center;
    text-align: center;
}

/* fieldset */
.stock-entry {
    display: flex;
    width: 50px;
    margin-top: auto;
    margin-bottom: 2em;
}

/* stock number (on module page) */
#stock-fig {
    text-align: center;
}

#sell {
    margin-top: auto;
    margin-bottom: 1em;
}

#edit-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    width: 10%;
}

#edit {
    margin-top: 1em;
}

#add {
    margin-top: 20px;
}

#bin {
    margin-top: auto;
    margin-bottom: 1em;
}

/* FORM colouring */

.form-group {
    border-radius: 4px;
    border: 1px solid rgba(200, 200, 200, 1);
}

.form-group:active {
    border: 1px solid rgba(100, 100, 100, 0.5);
    box-shadow: 0 0 6px rgb(45, 159, 247);
    transition: 0.5s;

}

input[type=text]:valid {
    background-color:rgba(110, 186, 245, 0.25);
    box-shadow: 2px 2px 5px rgba(76, 170, 242, 0.2) inset;
    transition: 0.2s;
}

input[type=text]:active {
    background-color:rgba(9, 143, 245, 0.3);
    transition: 0.1s;
}

input[type=text] {
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(76, 170, 242, 0.2) inset;
    padding: 4px 0 0;
    padding-left: 3px;
}

input[type=text]:focus {
    box-shadow: 0 0 6px rgb(45, 159, 247);
    transition: .3s;
    border: 1px solid rgba(77, 77, 240, 0.5);
    outline: 0px solid white;
  }

.clear-button {
     /* 0 opacity needed for bg otherwise from-group border is partially obscured */
    background-color:rgba(255, 255, 255, 0);
    border: 0px;
    /* border-left: 1px solid rgba(100, 100, 100, 0.5); */
    padding-top: 2px;
}

.clear-button:hover {
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 4px rgb(255, 0, 0);
    padding-top: 4px;
}

.clear-button:active {
    color: red;
}

.form-element {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.form-element:valid {
    border: 1px solid rgba(110, 186, 245, 0.25);
}

