* {
    border: 1px solid red;
}

.tabs > nav {
    display: inline;
    padding: 10px;
}

#shop-tab{
    margin-left: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


pre {
    white-space: pre-wrap;
}