{% extends "base.html" %}
{% block content %}
<!-- use this -->

<div id="single-manufacturer">
    <form action="/manufacturers/{{manufacturer.id}}" method="POST" class="manufacturer-info">
        <input class="new-manufacturer-info form-element"  type="text" name="name" value="{{manufacturer.name}}" required>
        <textarea class="new-manufacturer-info form-element" name="address" rows="10" columns="40" required>{{manufacturer.address}}</textarea>
        <input class="new-manufacturer-info form-element"  type="text" name="phone" value="{{manufacturer.phone}}" required>
        <input class="new-manufacturer-info form-element"  type="text" name="website" value="{{manufacturer.website}}">
        <input class="new-manufacturer-info form-element"  type="text" name="redirect-modules" value='False' hidden><br>

        {% if manufacturer.disabled %}
    <input type="checkbox" id="disabled" name="disabled" checked>
    {% else %}
    <input type="checkbox" id="disabled" name="disabled">
    {% endif %}
    <label for="checkbox" style="padding-bottom: 20px;">Disable Manufacturer (will no longer appear as an option when adding new modules)</label>
    <div id="save-exit-new-manu">
        <a href="/manufacturers"><nav class='close'><i class="far fa-times-circle fa-2x" style="margin-right: 30px;"></i></nav></a>
        <button type="submit"><i class="far fa-save fa-3x"></i></button>
        </div>

</form>

<br>
<form action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
    <button class="bin" type="submit" value=""><i class="fas fa-trash-alt fa-2x"></i></button>
    <label for="delete-button">Delete Manufacturer</label>
</form>

    </div>




{% endblock %}