{% extends "base.html" %}
{% block content %}

<h2>Manufacturers</h2>
{% for manufacturer in all_manufacturers %}

<ul>
    <li>

<div id="single-manufacturer">
{{ manufacturer.name }}, <br> 
{{ manufacturer.address }} <br>
{{ manufacturer.phone }} <br>

{% if manufacturer.website %}
<a href="{{ manufacturer.website }}" target="_blank">{{ manufacturer.website }}</a><br>

</div>

{% else %}
No web address available<br>
{% endif %}

<a href="/{{ manufacturer.id }}/edit">edit</a>
</li>
</ul>
{% endfor %}

{% endblock %}