{% extends "base.html" %}
{% block content %}

<div id="single-manufacturer">
<form action="/manufacturers" method="POST" class="manufacturer-info">

<input class="new-manufacturer-info" type="text" name="name" placeholder="Manufacturer name... " required>
<textarea class="new-manufacturer-info" name="address" placeholder="Address..." rows="10" columns="40" required></textarea>
<input class="new-manufacturer-info" type="text" name="phone" placeholder="Phone..." required>
<input class="new-manufacturer-info" type="text" name="website" placeholder="Website...">
<input type="text" name="redirect-modules" value='False' hidden><br>
<!-- <a href="/modules/new"></a> -->
<div id="save-exit-new-manu">
<a href="/manufacturers"><nav class='close'><i class="far fa-times-circle fa-2x" style="margin-right: 30px;"></i></nav></a>
<button type="submit"><i class="far fa-save fa-3x"></i></button>
</div>
</form>
</div>

{% endblock %}